/* Reset some default styles */
body,
html {
  margin: 0;
  padding: 0;
}

/* Navbar styles */
.navbar {
  background-color: #465361; /* Primary color */
  height: 60px; /* Reduced height for mobile */
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.navbar-title {
  font-size: 25px;
  color: #fff;
  margin: 0;
}

/* Login form styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px); /* Adjusted height for mobile */
}

.login-container {
  margin-top: 30px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  padding: 20px; /* Adjusted padding for mobile */
  border: 1px solid #eaeaea; /* Light gray border */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Rounded corners */
  max-height: none; /* Remove fixed height */
}

.login-form {
  margin-top: 20px;
}

.form-group {
  text-align: left;
}

.form-control {
  width: 94%;
  padding: 12px; /* Increased padding for better touch input */
  margin-bottom: 20px; /* Increased spacing between form elements */
  border: 1px solid #eaeaea; /* Light gray border */
  border-radius: 5px;
  font-size: 16px;
}

/* Style the labels for form elements */
label {
  display: block;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 5px;
  color: #333; /* Dark text color */
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 15px 20px; /* Increased padding for larger button */
  border-radius: 5px;
  font-size: 18px; /* Larger font size */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth hover effect */
}

.btn-primary:hover {
  background-color: #0056b3; /* Slightly darker color on hover */
}
.forgot-password {
  margin-top: 10px;
}

.forgot-password a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.signup {
  margin-top: 10px;
  font-size: 16px;
}

/* Center the "Don't have an account?" text */
.signup p {
  text-align: center;
}

/* Add some spacing between the "Sign Up" link and the text */
.signup a {
  margin-left: 5px;
}

/* Media Query for Mobile */
@media screen and (max-width: 768px) {
  .navbar {
    padding: 0 10px; /* Adjusted padding for smaller screens */
  }

  .container {
    min-height: calc(100vh - 60px); /* Adjusted height for smaller screens */
  }

  .login-container {
    width: 90%; /* Adjusted width for smaller screens */
  }

  .form-control {
    margin-left: 0; /* Center align form controls on smaller screens */
  }

  .btn-primary {
    padding: 10px 15px; /* Adjusted padding for smaller screens */
  }

  .signup a {
    margin-left: 3px; /* Adjusted margin for smaller screens */
    font-size: 14px; /* Adjusted font size for smaller screens */
  }
}
